<div [ngStyle]='{
                "background": config.fondo,
                "padding": "20px",
                "border": "5px solid black",
                "border-color": config.color
}'> 
  <h1>
    Bienvenido a <span>{{ config.titulo }}</span>
  </h1>
  <p>{{config.descripsion}}</p>
  <nav>
    <a [routerLink]="['/home']">Home</a>
    &nbsp;
    <a [routerLink]="['/zapatos']">Zapatos</a>
    &nbsp;
    <a [routerLink]="['/videojuegos']">Videojuegos</a>
    &nbsp;
    <a [routerLink]="['/cursos']" >Cursos</a>
    &nbsp;
    <a [routerLink]="['/externo']" >Externo</a>
    &nbsp;
    <a [routerLink]="['/contacto']" >Contacto</a>
  </nav>
  <hr>
  <!-- <button (click)='ocultarVideojuegos(false)' *ngIf="mostrar_videojuego">Ocultar Videojuegos</button>
  <button (click)='ocultarVideojuegos(true)' *ngIf="!mostrar_videojuego">Mostrar Videojuegos</button>-->

  <router-outlet></router-outlet>
</div>


